.sign-up
  .sign-upBox
    .sign-upBox__name
      アカウント新規登録
    .sign-upBox__content
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .sign-upBox__content__fild
          = f.text_field :name, autofocus: true, class: "box", placeholder: "名前"
        .sign-upBox__content__fild
          = f.email_field :email, class: "box", placeholder: "メールアドレス"
        .sign-upBox__content__fild
          = f.password_field :password, autocomplete: "off", class: "box", placeholder: "パスワード"
        .sign-upBox__content__fild
          = f.password_field :password_confirmation, autocomplete: "off", class: "box", placeholder: "パスワード確認"
        .sign-upBox__content__btn
          = f.submit "Create Account", class: 'btn'
    = render "devise/shared/links"
