.login
  .signBox
    .signBox__text
      ログイン
    .signBox__input
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .signBox__input__summary
          = f.email_field :email, autofocus: true, class: :box, placeholder: "メールアドレス"
          = f.password_field :password, autocomplete: "off", class: :box, placeholder: "パスワード(英数字8文字)"
          = f.submit "Log in", class: 'loginbtn'
    = render "devise/shared/links"