.wrapper2
  = render 'modules/header'
  .main
    .main__left
      .main__left__edit
        = link_to "編集", new_target_path
      .main__left__text
        .main__left__life-target
          人生目標、生き方
        .main__left__life-target-input
          
        .main__left__doream-target
          夢、自己実現
        .main__left__doream-target-input
          
        .main__left__Achievement-target
          達成目標
        .main__left__Achievement-target__input
      
      .main__left__day-record
        .main__left__day-record__content
          - @record.each do |record| 
            .main__left__day-record__content__box
              = link_to record.recordDay, "/action_records/#{record.id}"
              一日一言：
              = record.comment
    .main__light
      .main__light__records
        - recordAverage = {}
        - recordAverage.store("睡眠", daypercent(@sleepAverage)) rescue 0
        - recordAverage.store("仕事", daypercent(@workAverage)) rescue 0
        - recordAverage.store("努力", daypercent(@effortAverage)) rescue 0
        - recordAverage.store("息抜き", daypercent(@takeBreakAverage)) rescue 0
        - recordAverage.store("挑戦", daypercent(@challengeAverage)) rescue 0
        - recordAverage.store("雑務", daypercent(@choresAverage)) rescue 0
        = pie_chart recordAverage
      %h1.main__light__title
        行動平均値
      .main__light__record-pie-chart
        %ul.main__light__record-pie-chart__left
          %li.sleep
            .sleep__title
              睡眠#{daypercent(@sleepAverage).floor() rescue 0}%
          %li.work
            .work__title
              仕事#{daypercent(@workAverage).floor() rescue 0}%
          %li.effort
            .effort__title
              努力#{daypercent(@effortAverage).floor() rescue 0}%
        %ul.main__light__record-pie-chart__right           
          %li.takeBreak
            %label.takeBreak__title
              息抜き#{daypercent(@takeBreakAverage).floor() rescue 0}%
          %li.challenge
            .challenge__title
              挑戦#{daypercent(@challengeAverage).floor() rescue 0}%
          %li.chores
            .chores__title
              雑務#{daypercent(@choresAverage).floor() rescue 0}%