.wrapper2
  .header
    %a.header__logo
      = image_tag "logo.jpg", size: '100x60'
    %a.header__user-date
      = current_user.name
    %a.header__record-btn
      .header__record-btn__record
        = link_to "記録する", new_action_record_path
        = link_to "ログアウト", destroy_user_session_path, method: :delete,class: "header__record-btn__logout"
      
  .main
    .main__left
      .main__left__edit
        = link_to "編集", new_target_path
      .main__left__life-target
        人生目標、幸せ
      .main__left__life-target-input
        
      .main__left__doream-target
        夢、自己実現
      .main__left__doream-target-input
        
      .main__left__Achievement-target
        達成目標
      .main__left__Achievement-target__input
        
      
    .main__light
      .main__light__records
        円グラフ
      %h1.main__light__title
        行動平均値
      .main__light__record-pie-chart
        %ul.main__light__record-pie-chart__left
          %li.sleep
            .sleep__title
              睡眠
            .sleep__time
              - record_total = @record.sum(:sleep) / @record.ids.length rescue 0
              - num = record_total.floor(2) * 100
              = num / 24
            .sleep__propotion
              ％
          %li.work
            .work__title
              仕事
            .work__time
              - record_total  = @record.sum(:work) / @record.ids.length rescue 0
              - num = record_total.floor(2) * 100
              = num / 24
            .work__propotion
              ％
          %li.effort
            .effort__title
              努力
            .effort__time
              - record_total  = @record.sum(:effort) / @record.ids.length rescue 0
              - num = record_total.floor(2) * 100
              = num / 24
            .effort__propotion
              ％
        %ul.main__light__record-pie-chart__right           
          %li.takeBreak
            .takeBreak__title
              息抜き
            .takeBreak__time
              - record_total  = @record.sum(:takeBreak) / @record.ids.length rescue 0
              - num = record_total.floor(2) * 100
              = num / 24
            .takeBreak__propotion
              ％
          %li.challenge
            .challenge__title
              努力
            .challenge__time
              - record_total  = @record.sum(:takeBreak) / @record.ids.length rescue 0
              - num = record_total.floor(2) * 100
              = num / 24
            .challenge__propotion
              ％
          %li.chores
            .chores__title
              雑務
            .chores__time
              - record_total  = @record.sum(:chores) / @record.ids.length rescue 0
              - num = record_total.floor(2) * 100
              = num / 24
            .chores__propotion
