= render 'modules/header'

.record
  .record__note
    .record__note__input
      = form_with model: @record, class: :form, local:true do |f|
        %p.record__note__input__record
          != sprintf(f.date_select(:recordDay, with_css_classes: "recordDay", use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
        .record__note__input__content
          .record__note__input__content__left
            %p.record__note__input__content__left__time
              = f.label :sleep, "睡眠"
              = f.number_field :sleep, class: :box, min: 0, max: 24, value: 0
              = f.label :time, "時間"
            %p.record__note__input__content__left__time
              = f.label :work, "仕事"
              = f.number_field :work, class: :box, min: 0, max: 24, value: 0
              = f.label :time, "時間"
            %p.record__note__input__content__left__time
              = f.label :takeBreak, "休憩"
              = f.number_field :takeBreak, class: :box, min: 0, max: 24, value: 0
              = f.label :time, "時間"
          .record__note__input__content__right
            %p.record__note__input__content__right__time
              = f.label :effort, "努力"
              = f.number_field :effort,  class: :box, min: 0, max: 24, value: 0
              = f.label :time, "時間"
            %p.record__note__input__content__right__time
              = f.label :challenge, "挑戦"
              = f.number_field :challenge, class: :box,  min: 0, max: 24, value: 0
              = f.label :time, "時間"
            %p.record__note__input__content__right__time
              = f.label :chores, "雑務"
              = f.number_field :chores, class:  :box,  min: 0, max: 24, value: 0
              = f.label :time, "時間"
        .record__note__input__memo
          total 24hour
        %p.record__note__input__comment
          = f.label :comment, "今日の一言"
          %br
          = f.text_field :comment, class: :comment
        .record__note__input__submit
          = f.submit '記録する', class: :form＿＿btn
    .graff
  .record__errorcontent
    .record__errorcontent__preview
      エラーメッセージ
      %p.record__errorcontent__preview__message
        - @record.errors.full_messages.each do |message|
          = message
  
